<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sia News - News that can't be taken down</title>
</head>
<body>

<div class="container">
  <div class="row">
    <div class="col">

      <h1>Upload a news!</h1>
      <hr>

      <form action="/upload-file" method="POST" enctype="multipart/form-data">

        <div class="form-group">
            <label>Input Title</label>
            <input type="text", name="title" id="title">
          <label>Select files</label>
          <div class="custom-file">
            <input type="file" class="custom-file-input" name="file" id="file">
          </div>
        </div>

        <button type="submit" class="btn btn-primary">Upload</button>

      </form>

    </div>
  </div>
</div>

</body>
</html>